form.cuestionario {
    max-width: 600px;
}

form.cuestionario label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form.cuestionario .form-input {
    padding: 1em;
}

form.cuestionario .form-input input[type='text'],
form.cuestionario .form-input input[type='email'],
form.cuestionario textarea {
    display: block;
    width: 100%;
}

p.exito {
    font-size: 1em;
    padding: 1em;
    border: 1px solid green;
    background: lightgreen;
}

p.error {
    font-size: 1em;
    padding: 1em;
    border: 1px solid red;
    background: red;
}

div.lab-form-input input {
	background: #33B7FF;
	color: #ffffff;
	font-size: 16px;
    width: 120px;
    margin-left: 16px;
}
